################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CloudTracking/.vs
/CloudTracking/CloudTracking.Messages/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.Messages/obj
/CloudTracking/CloudTracking.PingService/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.PingService/obj
/CloudTracking/CloudTracking.ServiceBus/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.ServiceBus/obj
/CloudTracking/CloudTracking.Storage/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.Storage/obj
/CloudTracking/CloudTraking.CarSimulator/bin/Debug/netcoreapp2.1/appsettings.json
/CloudTracking/CloudTraking.CarSimulator/appsettings.json
/CloudTracking/CloudTraking/appsettings.json
/CloudTracking/CloudTraking.PingService/appsettings.json
/CloudTracking/CloudTraking/appsettings.json
/CloudTracking/CloudTracking.EventSourcing/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.EventSourcing/obj
/CloudTracking/CloudTracking.EventSourcing/appsettings.json
