################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CloudTracking/.vs
/CloudTracking/CloudTracking.Messages/bin/Debug/netcoreapp2.1
/CloudTracking/CloudTracking.Messages/obj
